<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<link rel="stylesheet" href="<%= main_url %>/public/css/bootstrap.min.css">
<link rel="stylesheet" href="<%= main_url %>/public/css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<script src="<%= main_url %>/public/js/jquery-3.4.1.min.js"></script>
<script src="<%= main_url %>/public/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<script src="<%= main_url %>/public/js/script.js"></script>
<title><%= title %> | Train Sharing</title>
<link rel="icon" href="<%= main_url %>/public/img/icon.png">